@model Domain.PlaylistArtist

@{
    ViewData["Title"] = "AddArtist";
}
<br/>
<br/>
<h1>Add Songs From Artist</h1>
<br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddArtist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="PlaylistId" class="control-label"></label>
                <input asp-for="PlaylistId" value="@Model.PlaylistId" class="form-control" />
                <span asp-validation-for="PlaylistArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" asp-items="@ViewBag.Artists" class="form-control">@*@SelectListItemExtension.Artists*@
                    <option value="">Please select an artist</option>
                </select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="btn btn-secondary">
    @Html.ActionLink("Back", "Details", new { playlistId=@Model.PlaylistId}, new{style="color:white"})
</div>

